body{

margin:0;
padding:0;

background:url('bg.jpg') no-repeat center center/cover;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

font-family:cursive;

color:red;

font-weight:bold;

overflow:hidden;

}

.overlay{

background:rgba(0,0,0,0.5);

padding:30px;

border-radius:20px;

text-align:center;

}

button{

padding:12px 25px;

font-size:18px;

margin:10px;

cursor:pointer;

border:none;

border-radius:10px;

}

h1{

font-size:32px;

}

img{

width:250px;

margin-top:20px;

border-radius:15px;

}
