body{

margin:0;
background:url('bg.jpg') no-repeat center center/cover;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:cursive;
overflow:hidden;

}


.overlay{

background:rgba(0,0,0,0.6);
padding:30px;
border-radius:20px;
text-align:center;
color:red;
font-weight:bold;
font-size:28px;

}


button{

padding:12px 25px;
margin:10px;
font-size:18px;
cursor:pointer;
border-radius:10px;
border:none;

}



/* HEART FALL FROM TOP */


.heart{

position:fixed;

top:-50px;

font-size:30px;

animation:fall linear forwards;

}


@keyframes fall{

0%{

top:-50px;

}

100%{

top:100vh;

}

}



img{

width:250px;
margin:10px;
border-radius:15px;

}
