body{
margin:0;
text-align:center;
font-family:Arial;
color:white;
background:url('background/bg.jpg') center/cover no-repeat fixed;
background-color:black;
}

.hidden{display:none;}

button{
padding:15px 30px;
font-size:20px;
border:none;
border-radius:10px;
cursor:pointer;
}

#yes{background:green;}
#no{background:red;position:absolute;}

.gallery img{
width:250px;
margin:20px;
border-radius:20px;
}

.glow{
animation:glow 1s infinite alternate;
}

@keyframes glow{
from{text-shadow:0 0 10px pink;}
to{text-shadow:0 0 40px red;}
}

.proposal{
font-size:40px;
color:gold;
}
